# Datenbank
POSTGRES_DB=krawallbruder
POSTGRES_USER=kb_user
POSTGRES_PASSWORD=kb_secret

# Symfony
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string

# Frontend
VITE_API_URL=http://localhost:8080
