# Lokale Überschreibungen (nicht ins Git einchecken!)
APP_ENV=dev
APP_DEBUG=true
DATABASE_URL="postgresql://kb_user:kb_secret@localhost:5432/krawallbruder?serverVersion=16&charset=utf8"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
